<div class="banner banner1">
	<h1><p>Ainda que eu falasse a língua</p> <p>dos homens e dos anjos ...</p></h1>
</div>

<div class="banner banner2">
	<h1>Sem amor ...</h1>
</div>

<div class="banner banner3">  
    <h1>Eu nada seria!</h1>
</div>

<A NAME="PHOTOS"></A>
	
<div class="photos">
			<div class="left-image">
				<%= image_tag "foto10.jpg", id: "foto1", class: "foto" %>
			</div>
			
			<div class="text right-text">
				<h4>O amor é paciente, é benigno; o amor não arde em ciúmes, não se ufana, não se ensoberbece...</h4>
			</div>

		<div class="text left-text">
			<h4>...Não se conduz inconvenientemente, não procura os seus interesses, não se exaspera, não se ressente do mal...</h4>
		</div>
		<div class="right-image">
			<%= image_tag "foto5.jpg", id: "foto2", class: "foto" %>
		</div>

		<div class="left-image">
			<%= image_tag "foto9.jpg", id: "foto3", class: "foto" %>
		</div>
		
		<div class="text right-text">
			<h4>...Não se alegra com a injustiça, mas regozija-se com a verdade...</h4>
		</div>

		<div class="text left-text">
			<h4>...Tudo sofre, tudo crê, tudo espera, tudo suporta...</h4>
		</div>
		<div class="right-image">
			<%= image_tag "foto15.jpg", id: "foto4", class: "foto" %>
		</div>

		<div class="left-image">
			<%= image_tag "foto12.jpg", id: "foto5", class: "foto" %>
		</div>
		
		<div class="text right-text">
			<h4>...O amor jamais acaba...</h4>
		</div>

		<div class="text left-text">
			<h4>...Agora, pois, permanecem a fé, a esperança e o amor, estes três; porém o maior destes é o amor.</h4>
		</div>
		<div class="right-image">
			<%= image_tag "foto1.jpg", id: "foto6", class: "foto" %>
		</div>
	<div class="final-photo">
		<%= image_tag "foto8.jpg", id: "foto7", class: "foto" %>
		<h4>1 Coríntios 13</h4>
	</div>
</div>

<A NAME="INFORMATIONS"></A>
<div class="informations">
	<h1>Informações</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Data e Hora:</h2>
				<h3>20 de junho de 2020</h3>
				<h3>15 horas</h3>
			</div>
			<div class="col-md-6">
				<h2>Como chegar:</h2>
				<h3>Clique no ícone abaixo:</h3>
				<a href=""><h4><i class="fas fa-map-marker-alt"></i></h4></a>
			</div>
		</div>
	</div>
	
</div>

<A NAME="CONFIRMATION"></A>






