
<div class="confirmations-index">
  
  <% if logged_in? %>
    <h1>Confirmações</h1>

    <table border = 1>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Telefone</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @confirmations.each do |confirmation| %>
          <tr>
            <td><%= confirmation.name %></td>
            <td><%= confirmation.quantity %></td>
            <td><%= confirmation.phone %></td>
            <td><%= link_to 'Deletar', confirmation, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

      <h2>Total de pessoas confirmadas: <%= @total %></h2>
  <% else %>
    <h1>Você não tem acesso a essa área!</h1>
  <% end %>
</div>
