
<div class="show-confirmation">
	
	<p id="notice"><%= notice %></p>
	<br><br><br>

	<p>
	  <strong>Nome:</strong>
	  <%= @confirmation.name %>
	</p>
	<br>
	<p>
	  <strong>Quantidade de pessoas:</strong>
	  <%= @confirmation.quantity %>
	</p>
	<br>
	<p>
	  <strong>Telefone:</strong>
	  <%= @confirmation.phone %>
	</p>
	<br>
	<h5>
		<%= link_to 'Voltar', root_path() %>
	</h5>
	

</div>
