<!DOCTYPE html>
<html>
  <head>
    <title>Gisele e Felipe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>
    <header>

      <div class="mobile-mask d-md-none d-xl-none d-lg-none">
        
      </div>
      <div class="menu-mobile d-md-none d-xl-none d-lg-none">

        <div class="logo-space d-md-none" id="logo-menu-mobile">
          <h1>G e F</h1>
        </div>

        <ul>
          <a href="" class="photo-link"><li>FOTOS</li></a>
          <a href="" class="infos-link"><li>INFORMAÇÕES</li></a>
          <a href="" class="confirmation-link"><li>CONFIRME SUA PRESENÇA</li></a>
          <a href="https://www.querodecasamento.com.br/lista-de-casamento/giselefelipe/"><li>LISTA DE PRESENTES</li></a>
          <% if logged_in? %>
            <%= link_to confirmations_path do %><li>ÁREA DOS NOIVOS</li><% end %>
            <%= link_to logout_path, method: :delete do %><li>SAIR</li><% end %>
          <% else %>
            <%= link_to login_path do %><li>ÁREA DOS NOIVOS</li><% end %>
          <% end %>

          <li><div class="exit-mobile">X</div></li>
        </ul>
      </div>


      <div class="header-container">
        
      </div>
      <div class="links links-left d-none d-md-block d-lg-block d-xl-block">
        <ul>
          <a href="" class="photo-link"><li>FOTOS</li></a>
          <a href="" class="infos-link"><li>INFORMAÇÕES</li></a>
          <a href="" class="confirmation-link"><li>CONFIRME SUA PRESENÇA</li></a>

        </ul>
      </div>
      <%= link_to root_path do %>
        <div class="logo">
          <div class="logo-space" id="logo-header">
            <h1>G e F</h1>
          </div>
        </div>
      <% end %>
      <div class="links links-right d-none d-md-block d-lg-block d-xl-block">
        <ul>
          <a href="https://www.querodecasamento.com.br/lista-de-casamento/giselefelipe/"><li>LISTA DE PRESENTES</li></a>
          <% if logged_in? %>
            <%= link_to confirmations_path do %><li>ÁREA DOS NOIVOS</li><% end %>
            <%= link_to logout_path, method: :delete do %><li>SAIR</li><% end %>
          <% else %>
            <%= link_to login_path do %><li>ÁREA DOS NOIVOS</li><% end %>
          <% end %>
        </ul>
      </div>

      <div class="btn-menu-mobile d-md-none d-xl-none d-lg-none">
        <i class="fa fa-bars"></i>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer-container">
        <div class=container>
          <div class=row>
            <div class="footer-section col-md-4">
                <%= link_to root_path do %>
                  <div class="logo-footer">
                    <h1>G e F</h1>
                  </div>
                <% end %>
            </div>
            <div class=" footer-section col-md-4">
              <h2>Links:</h2>
              <ul>
                <a href="" class="photo-link"><li>FOTOS</li></a>
                <a href="" class="infos-link"><li>INFORMAÇÕES</li></a>
                <a href="" class="confirmation-link"><li>CONFIRME SUA PRESENÇA</li></a>
                <a href="https://www.querodecasamento.com.br/lista-de-casamento/giselefelipe/"><li>LISTA DE PRESENTES</li></a>
                <% if logged_in? %>
                  <%= link_to confirmations_path do %><li>ÁREA DOS NOIVOS</li><% end %>
                  <%= link_to logout_path, method: :delete do %><li>SAIR</li><% end %>
                <% else %>
                  <%= link_to login_path do %><li>ÁREA DOS NOIVOS</li><% end %>
                <% end %>
              </ul>
            </div>
            <div class="footer-section col-md-4">
              <h2>Redes Sociais:</h2>
                <div class="conatiner social-links">
                  <h3>Gisele:</h3><br>
                  <div class="row">
                    <div class="col-md-6">
                      <a href=""><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="col-md-6">
                      <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                  </div>

                  <h3>Felipe:</h3>
                  <div class="row">
                    <div class="col-md-6">
                      <a href=""><i class="fab fa-facebook"></i></a>
                    </div>
                    <div class="col-md-6">
                      <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="credits">
        Desenvolvido por Robson Resende
      </div>
    </footer>
  </body>
</html>
